/* :root {
  --background: #fcfcfc;
  --lightBlue: #ade6f7;
  --Blue: #06f;
  --lightPurple: #b1afff;
  --lightYellow: #fdfdbd;
  --Yellow: #f8dd2e;
  --Orange: #f07e74;
  --lightNeonGreen: #c8ffd4;
} */
